.container {
  padding: 20px;
}

.title {
  margin-bottom: 12px;
}

.content {
  font-size: 14px;
  color: #4A4A4A;
}
.content ul>li {
  margin-bottom: 10px;
}
.content ul>li:last-child {
  margin: 0;
}
.content ul>li span {
  display: inline-block;
  margin-right: 6px;
}