.container {
  padding: 24px 20px 20px
}
.title {
  font-size: 15px;
  color: #1A1A1A;
  margin-bottom: 6px;
}
.title >span {
  margin-left: 6px;
  color: #B3B9CD;
}
.content {
  font-family: DIN-Medium;
  font-size: 24px;
  color: #ff6700;
}
